@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-sora: var(--font-sora);
}

@layer base {
  html,
  body {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overscroll-behavior: none;
    cursor: none;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sora), var(--font-noto-sans-jp), sans-serif;
  }
}

/* @import "tailwindcss";

@theme {
  --background: #f0e9d8;
  --foreground: #333333;
  --color-foreground-secondary: #c0bbb6;
  --color-wood-dark: #3e2715;
  --color-background: #f0e9d8;
  --text-title: clamp(2.125rem, 1.6849rem + 1.8779vw, 3.375rem);
  --text-title--line-height: 1.5;
}

@theme inline {
  --font-sans: var(--font-noto-sans-jp);
  --font-mono: var(--font-montserrat), var(--font-noto-sans-jp);
  --font-title: var(--font-zen-kaku-gothic-new);
}

@layer base {
  html {
    scrollbar-gutter: stable;
    scrollbar-width: none;
    line-height: 2;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-noto-sans-jp), sans-serif;
  }
}

@layer components {
  .grid-margin {
    padding-inline: clamp(0.5rem, -1.5714rem + 10.3571vw, 7.75rem);
  }
} */

/* 
 */
/*  */

/* @import "tailwindcss";

:root {
  --background: #140a06;
  --foreground: #e5e1df;
  --progress: 0;
}

@theme {
  --text-xs: clamp(0.625rem, 0.559rem + 0.2817vw, 0.8125rem);
  --text-base: clamp(0.8375rem, 0.7803rem + 0.2441vw, 1rem);
  --text-base-en: clamp(0.875rem, 0.8178rem + 0.2441vw, 1.0375rem);
  --text-2xl: clamp(1.0625rem, 0.9085rem + 0.6573vw, 1.5rem);
  --text-2xl--line-height: 1.2;
  --text-2xl-jp-serif: clamp(1.09375rem, 0.9287rem + 0.7042vw, 1.5625rem);
  --text-2xl-jp-serif--line-height: 1.4;
  --text-2xl-en: clamp(1.1875rem, 0.9894rem + 0.8451vw, 1.75rem);
  --text-2xl-en--line-height: 1.2;
  --text-4xl: clamp(1.5rem, 1.368rem + 0.5634vw, 1.875rem);
  --text-4xl-en: clamp(1.6875rem, 1.5224rem + 0.7042vw, 2.15625rem);
  --text-4xl--line-height: 1.3;
  --text-4xl-en--line-height: 1.4;
  --text-8xl-en-uppercase: clamp(2.625rem, 1.3486rem + 5.446vw, 6.25rem);
  --text-8xl-en: clamp(3rem, 1.0634rem + 8.2629vw, 8.5rem);
  --text-8xl-en-uppercase--line-height: 1;
  --text-8xl-en--line-height: 1;

  --color-accent: #ff631a;
  --color-accent-dark: #993b0f;
  --color-textgray: #aaa6a0;
  --color-sub: #d2d0cd;

  --spacing: 0.3vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), var(--font-noto-sans-jp), sans-serif;
  --font-serif: var(--font-playfair-display), var(--font-noto-serif-jp), serif;
  --font-serif-jp: var(--font-noto-serif-jp), serif;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto), var(--font-noto-sans-jp), sans-serif;
    font-size: var(--text-base);
    line-height: 1.6;
    font-weight: 500;
  }

  ::selection {
    background: var(--color-accent);
    color: var(--foreground);
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    min-height: 30px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  *:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-accent);
  }
}

@layer components {
  .wrapper {
    width: 100%;
    max-width: 96rem;
    padding-inline: 8vw;
    margin-inline: auto;
  }
  .sp-wrapper {
    @media (width < 48rem 768px) {
      width: 100%;
      max-width: 100%;
      padding-inline: 8vw;
      margin-inline: auto;
    }
  }
  .grid-wrapper {
    @media (width >= 48rem 768px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      gap: calc(var(--spacing) * 4);
      padding-block: calc(var(--spacing) * 8);
    }
  }

  .mask-left-to-right {
    @media (width >= 48rem 768px) {
      mask: linear-gradient(
        to left,
        transparent 0%,
        transparent calc((1 - var(--progress)) * 100% - 20% * var(--progress)),
        black calc((1 - var(--progress)) * 100%),
        black 100%
      );
      -webkit-mask: linear-gradient(
        to left,
        transparent 0%,
        transparent calc((1 - var(--progress)) * 100% - 20% * var(--progress)),
        black calc((1 - var(--progress)) * 100%),
        black 100%
      );
    }
  }

  .mask-feed-to-right {
    @media (width >= 48rem 768px) {
      mask: linear-gradient(
        to right,
        transparent 0%,
        transparent
          calc((var(--progress)) * 100% - 20% * calc(1 - var(--progress))),
        black calc((var(--progress)) * 100%),
        black 100%
      );
      -webkit-mask: linear-gradient(
        to right,
        transparent 0%,
        transparent
          calc((var(--progress)) * 100% - 20% * calc(1 - var(--progress))),
        black calc((var(--progress)) * 100%),
        black 100%
      );
    }
  }

  .use-wbr {
    @media (width < 48rem 768px) {
      word-break: keep-all;
      overflow-wrap: anywhere;
    }
  }
} */
