@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --background: #cccccc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  --font-sora: var(--font-sora);
}

@layer base {
  html,
  body {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overscroll-behavior: none;
    /* cursor: none; */
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sora), var(--font-noto-sans-jp), sans-serif;
  }
  /* button {
    cursor: none;
  } */

  @keyframes fade-in-soft {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-fade-in-soft {
    animation: fade-in-soft 0.2s ease-out forwards;
  }
}
